@inherits LayoutComponentBase

<head>
       <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="display/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="display/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="display/plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="display/plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="display/plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="display/plugins/venobox/venobox.css">

  <!-- Main Stylesheet -->
  <link href="display/css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="display/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="display/images/favicon.png" type="image/x-icon">
</head>

<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <LoginDisplay/>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand" href="/"><h3>TripleG</h3></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
             <li class="nav-item">
             
            </li>
             <li class="nav-item">
              <NavLink ActiveClass="active" class="nav-link" href="/">HOME</NavLink>
            </li>
            <li class="nav-item">
              <NavLink ActiveClass="active" class="nav-link" href="/result/check">RESULT</NavLink>
            </li>
             <AuthorizeView Roles="Teacher,Admin">
    <Authorized>
           <li class="nav-item">
              <NavLink ActiveClass="active" class="nav-link" href="/admin/student">DASHBOARD</NavLink>
            </li>
    </Authorized>
    </AuthorizeView>
           
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- /header -->


@Body

<!-- footer -->
<footer>
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0"style="color:white;">
          <!-- logo -->
          <a class="text-white" href="/">
           <h3>TripleG</h3></a>
          <ul class="list-unstyled" style="color:white;">
            <li class="mb-2">1, Egunjobi street, shasha,Lagos.</li>
            <li class="mb-2">tripleg@yourdomain.com</li>
          </ul>
        </div>
       
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-sm-left text-center">
          <p class="mb-0 text-white"style="color:white;">Copyright &copy; TripleG</p>
        </div>
        <div class="col-sm-5 text-sm-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a></li>
            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-twitter-alt text-primary"></i></a></li>
            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-linkedin text-primary"></i></a></li>
            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
